# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: "ASTR 513: Computational and Statistical Methods for Astrophysics"
author: Chi-kwan Chan & Shuo Kong
logo: logo.png

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: astr513.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/ua-2024q3-astr513/astr513  # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_repository_button: true
  use_issues_button: true
  use_edit_page_button: true
  home_page_in_navbar: true

# Add launch buttons to run executable cells
# See https://jupyterbook.org/en/stable/interactive/thebe.html#activate-thebe
launch_buttons:
  thebe: true
